# Python bytecode files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Docker
docker-compose.override.yml
Dockerfile

# Logs
*.log

# Jenkins
*.jenkins/